@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{ /*uma variavel global ára guardar a cor e so precisar mudar aqui*/
    --cor-primaria: rgb(163, 149, 212);
    --cor-primaira-escura: rgb(143, 123, 209);
}

*{
    box-sizing: border-box;
    outline: 0
}

body{
    margin: 0;
    padding: 0;
    background: var(--cor-primaria); /*chamando a variavel global*/
    font-family:'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

.container{ /*deixa o conteudo no meio da pag*/
    max-width: 640px;
    margin: 10px auto; /*cima-baixo 20, laterais altomatico*/
    background: rgb(224, 220, 235);
    padding: 20px;
    border-radius: 10px;
    
}

form input, form label, form button{ /*como nao tem classe,chama pelo nome todos*/
    display: block;
    width: 100%;
    margin-bottom: 10px;
    
    /*border-radius: 15px;
    border- */
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    outline-style: none;
    border-radius: 5px ;
    border: 1px solid rgb(200, 199, 199);
}

form input:focus { /*todos os inputs da form quando estiver em focus*/
    outline: 1px solid  var(--cor-primaria);
}

form button{
    border: none;
    background: var(--cor-primaria);
    color: white;
    font-size: 18px;
    font-weight:700px;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    cursor: pointer; /*deixa a maozinha encima no cursor*/
}

form button:hover{
    background: var(--cor-primaira-escura);
}
form button:active{
    background: var(--cor-primaira-escura);
}
